@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.content h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.content {
    margin: 10px;
}

.linklist a {
    display: block;
    height: 100%;
    width: 100%;
    padding: 8px;
    margin: -8px;
}

a:hover.stealth {
    text-decoration: none;
}

.hide {display: none}

/* Fix issue with Firefox rendering the inputs */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
        height: 27px;
}

.panel-heading > ul.pagination, .panel-footer > ul.pagination {
    margin-top: 0px;
    margin-bottom: -10px;
}

.navbar {
    margin-bottom: 0px;
}

.breadcrumb {
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.location {
    border-bottom: 1px solid #EEE;
    background-color: rgb(245, 245, 245);
    margin-bottom: 20px;
}
